{%load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/adminStyles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar__left">
                <a class="active_link" href="#">Admin</a>
                <a href="#">Website</a>
                <a href="#">Restaurants</a>
                
            </div>
            <div class="navbar__right">
                <a href="#">
                    <i class="fa fa-search"></i>
                </a>
                <a href="#">
                    <i class="fa fa-clock-o"></i>
                </a>
                <a href="#">
                    <img width="30" src="{%static 'admin/images/avatar.svg'%}" alt="Avatar image">
                </a>
            </div>
        </nav>


        
        <!--Sidebar START-->
        <div id="sidebar">
            <div class="siderbar__title">
                <div class="sidebar__img">
                    
                    <p style="color:#e65061">Admin Side</p>
                </div>
                <i class="fa fa-times" id="sidebarIcon" onclick="closeSidebar()"></i>
            </div>

            <div class="sidebar__menu">
                <div class="sidebar__link active_menu_link">
                    <i class="fa fa-home"></i>
                    <a href="#">Dashboard</a>
                </div>
                <h2>MANAGE</h2>
                
                <div class="sidebar__link">
                    <i class="fa fa-user-circle"></i>
                    <a href="/foodAdmin/view-food">View Food Items</a>
                </div>

                <div class="sidebar__link">
                    <i class="fa fa-user-circle"></i>
                    <a href="/foodAdmin/view-users">User Management</a>
                </div>

                <div class="sidebar__link">
                    <i class="fa fa-rocket"></i>
                    <a href="/foodAdmin/view-orders">Orders Management</a>
                </div>

                <div class="sidebar__link">
                    <i class="fa fa-user"></i>
                    <a href="/foodAdmin/view-feedbacks">Manage Feedbacks</a>
                </div>

                <div class="sidebar__logout">
                    <i class="fa fa-power-off"></i>
                    <a href="/foodAdmin/logout"> Logout</a>
                </div>
            </div>
        </div>

        {% block admincontent %}
        {% endblock %}
    </div>
</body>
</html>