<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
        <link rel="stylesheet" href="./login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
    </head>
    <body>
        <div class="reg-div">
            
            <div class="fields">
                <div class="username">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <input type="username" class="user-input" placeholder="UserName" />
                </div>

                <div class="username">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <input type="username" class="user-input" placeholder="Last Name" />
                </div>

                <div class="username">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="username" class="user-input" placeholder="Email ID" />
                </div>

                <div class="username">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <input type="username" class="user-input" placeholder="Mobile Number" />
                </div>


                <div class="username">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <input type="username" class="user-input" placeholder="Address" />
                </div>

                
                <div class="password">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" class="pass-input" placeholder="Password" />
                </div>
            </div>
            <a class="signin-button" href="https://pensive-almeida-53933d.netlify.app/">Register Now!</a>

        </div>
        
    </body>
</html>