{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Food O City</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'user/images/logo/foodocity.ico' %}">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{%static 'user/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static 'user/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'user/userStyles.css'%}">

	<!-- Cusom css -->
   <link rel="stylesheet" href="{% static 'user/custom.css'%}">

	<!-- Modernizer js -->
	<script src="{% static 'user/js/modernizr-3.5.0.min.js' %}"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	
	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Start Header Area -->
        <header class="htc__header">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                            <div class="logo">
                                <a href="/user/index">
                                    <img src="{% static 'user/images/logo/foodocity.PNG' %}" alt="logo images" style="height: 75px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <nav class="main__menu__nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="drop"><a href="/user/index">Home</a>
                                            
                                        </li>
                                        <li><a href="/user/about">About</a></li>
                                        <li class="drop"><a href="/user/menu">Menu</a>
                                            
                                        </li>
                                        <li><a href="/user/gallery">Gallery</a></li>
                                        
                                        <li class="drop"><a href="#">Pages</a>
                                            <ul class="dropdown__menu">
                                                <li><a href="/user/service">Service</a></li>
                                                <li><a href="/user/cart">Cart Page</a></li>
                                                <li><a href="/user/checkout">Checkout Page</a></li>
                                        
                                            </ul>
                                        </li>
                                        <li><a href="/user/contact">Contact</a></li>
                                    </ul>
                                </nav>
                                
                            </div>
                        </div>

         {% block usercontent %}
        {% endblock %}

        <!-- Start Footer Area -->
        <footer class="footer__area footer--1">
            <div class="footer__wrapper bg__cat--1 section-padding--lg">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-3 col-sm-12">
                            <div class="footer">
                                <h2 class="ftr__title">About Food O City</h2>
                                <div class="footer__inner">
                                    <div class="ftr__details">
                                        <p>Upcoming Online Food Ordering & Delivery Service</p>
                                        <div class="ftr__address__inner">
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-home"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p>Ajwad, Ahmedabad</p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-phone"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="#">+91 99749 21248</a></p>
                                                    <p><a href="#">+91 96367 64247</a></p>
                                                    <p><a href="#">+91 86900 19127</a></p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="#">foodocitydelivery@gmail.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="social__icon">
                                            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-3 col-sm-12 sm--mt--40">
                            <div class="footer gallery">
                                <h2 class="ftr__title">Our Gallery</h2>
                                <div class="footer__inner">
                                    <ul class="sm__gallery__list">
                                        <li><a href="#"><img class="galleryList" src="{%static 'user/images/gallery/sm-img/burger.jpg'%}" alt="gallery images"></a></li>
                                        <li><a href="#"><img class="galleryList" src="{%static 'user/images/gallery/sm-img/paneerChilli.jpg'%}" alt="gallery images"></a></li>
                                        <li><a href="#"><img class="galleryList" src="{%static 'user/images/gallery/sm-img/chickenfry.jpg'%}" alt="gallery images"></a></li>
                                        <li><a href="#"><img class="galleryList" src="{%static 'user/images/gallery/sm-img/guava.jpg'%}" alt="gallery images"></a></li>
                                        <li><a href="#"><img class="galleryList" src="{%static 'user/images/gallery/sm-img/schezwan.jpg'%}" alt="gallery images"></a></li>
                                        <li><a href="#"><img class="galleryList" src="{%static 'user/images/gallery/sm-img/paneer.jpg'%}" alt="gallery images"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-3 col-sm-12 md--mt--40 sm--mt--40">
                            <div class="footer">
                                <h2 class="ftr__title">Opening Time</h2>
                                <div class="footer__inner">
                                    <ul class="opening__time__list">
                                        <li>Saturday<span>.......</span>9am to 11pm</li>
                                        <li>Sunday<span>.......</span>9am to 11pm</li>
                                        <li>Monday<span>.......</span>9am to 11pm</li>
                                        <li>Tuesday<span>.......</span>9am to 11pm</li>
                                        <li>Wednesday<span>.......</span>9am to 11pm</li>
                                        <li>Thursday<span>.......</span>9am to 11pm</li>
                                        <li>Friday<span>.......</span>9am to 11pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-3 col-sm-12 md--mt--40 sm--mt--40">
                            <div class="footer">
                                <h2 class="ftr__title">Our Recommendations</h2>
                                <div class="footer__inner">
                                    <div class="lst__post__list">
                                        <div class="single__sm__post">
                                            <div class="sin__post__thumb">
                                                <a href="blog-details,html">
                                                    <img class="recommendationImg" src="{%static 'user/images/blog/sm-img/pizza.jpg'%}" alt="blog images">
                                                </a>
                                            </div>
                                            <div class="sin__post__details">
                                                <h6><a href="blog-details.html">Double Cheese Pizza </a></h6>
                                                <p>Your favourite pizza with double the cheese</p>
                                            </div>
                                        </div>
                                        <div class="single__sm__post">
                                            <div class="sin__post__thumb">
                                                <a href="blog-details,html">
                                                    <img class="recommendationImg" src="{%static 'user/images/blog/sm-img/cheesecake.jpg'%}" alt="blog images">
                                                </a>
                                            </div>
                                            <div class="sin__post__details">
                                                <h6><a href="blog-details.html">Cheese Cake</a></h6>
                                                <p>A dessert everyone looks forward to eating</p>
                                            </div>
                                        </div>
                                        <div class="single__sm__post">
                                            <div class="sin__post__thumb">
                                                <a href="blog-details,html">
                                                    <img class="recommendationImg" src="{%static 'user/images/blog/sm-img/choco_lava.jpg'%}" alt="blog images">
                                                </a>
                                            </div>
                                            <div class="sin__post__details">
                                                <h6><a href="blog-details.html">Choco Lava Cake</a></h6>
                                                <p>We deliver the best choco lava cakes in the town.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
            </div>
            <div class="copyright bg--theme">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="copyright__inner">
                                <div class="cpy__right--left">
                                    <p>@All Right Reserved. Food-O-City</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
</body>
</html>
